<div class="container">
  <form #todoForm>
    <div class="form-group">
      <h1 class="text-center text-primary">
        Add Game
      </h1>
      <div class="input-group-prepend">
        <input #input type="text" class="form-control" placeholder="Game to be added..." (keyup)="inputChange()" name="UserInput" id="UserInput" ng-bind-html="UserInput">
        <button type="button" class="input-group-text" (click)="AddGame()">
          Add
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class = "list-group">
    <h1 class="text-primary">
      Game List
    </h1>
    <ul>
      <li *ngFor="let game of games">
        {{game}}
      </li>
    </ul>
  </div>
</div>

